{% extends 'base.html.twig' %}

{% block title %}Edit User
{% endblock %}
{% block header %}{% endblock %}


{% block body %}
	<div class="fondo">
		<div id="bgCenter" class="mx-auto my-[200px] w-auto min-w-[580px] max-w-[600px] h-[500px] bg-gray-600 text-white rounded-3xl border-1 border-neutral-950 ">
			<a href="{{ path('app_home') }}">
				<div class="logo" style="margin-top: 10px; margin-bottom: 10px;"></div>
			</a>
			<h1 class="text-center text-3xl mb-[20px]">Edit User</h1>

			<div class="flex justify-center ">
				<div class="text-white text-center ">{{ include('user/_form.html.twig', {'button_label':'Update'}) }}</div>
			</div>
<a class="flex justify-center mt-2 text-xl btnBack" href="{{ path('app_user_show',{'id': app.user.id}) }}">Back to profile</a>

		</div>
	</div>
{% endblock %}
{# {{ include('user/_delete_form.html.twig') }} #}
